body{
    margin: 0;
    font-size: 10px;
    background-color: antiquewhite;
}

#main-header{
   border-top: 3px solid rgb(171,104,102);
   border-bottom: 3px solid rgb(171,104,102);
   height: 15vh;
   width:100%;
   font-size: 2em;
   display: flex;
   justify-content: center;
   align-items: center;

}
h1{
    text-align: center;
}
.heading{
    font-family:sans-serif, serif;
}
p{
    font-size: 20px;
    margin-left: 2%;
    text-indent: 2%;
}
main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.nav {
    display: flex;
    z-index: 3;
    flex-direction: column;
    gap: 5px;
    margin: .5rem;
 
    
  }
  .nav-list {
    display: flex;
    margin-right: 2rem;
    }
    
 
  
nav li{
    height:30px;
    width: 200px;
    background-color: whitesmoke;
    border: 2px solid rgb(48, 35, 19);
    border-radius: 3%;
    padding-top: 10px;
    text-align: center;
    margin: 1px;

 
   
}

nav li:hover{
    text-decoration: none;
    color: white;
    font-size: 150%;
    font-weight:300px;
   
}
a{
    font-size: 13px;

}
a:hover{
    color: red;
    font-size:25px;
    text-decoration: none;
}

footer{
    text-align: center;
    color: red;
    font-size: 15px;
}
#list{
    font-size: 15px
}
h4{
    font-size: 13px;
}

